<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @venue.name %>
</p>

<p>
  <b>Address:</b>
  <%= @venue.address %>
</p>

<p>
  <b>City:</b>
  <%= @venue.city %>
</p>

<p>
  <b>State:</b>
  <%= @venue.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @venue.zip %>
</p>

<div id="floatbox">
	<b>Meetings</b><br />
	<% @venue.meetings.each do |m| %>
		<%= link_to m.name, m %><br />
	<% end %>
</div>


<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
